body
    background: page-bg linear-gradient(top, darken(page-bg, 20%) 80px, page-bg) top left no-repeat
    padding: 2em

header
    border-bottom: 1px solid text-bold
    margin: 0 0 2em 0
    position: relative
    h1
        color: text-bold
        font-family: serif
        font-size: 4em
        font-weight: bold
        margin: 0
        text-shadow: 1px 1px 2px text-shadow
    .version
        bottom: 0
        color: white
        position: absolute
        right: 0

label
    display: block
    font-weight: bold
    line-height: 1.5em
    margin: 0.5em 0.5em 0.25em 0.5em
    overflow: hidden
    padding: 0.25em 0
    input, select
        float: right
        font-weight: normal
