doctype html
html(ng-app="gardenPlotter")
    head
        title Garden Plotter
        link(rel="stylesheet", type="text/css", href="/styles/main.css")
    
    body
        header(ng-controller="buildController")
            h1 {{info.name}}
            .version version {{info.version}}
        
        .plot-list-template(ng-include="'plot-list.html'")
        .plot-detail-template(ng-include="'plot-detail.html'")
    
        .vegetable-list-template(ng-include="'vegetable-list.html'")

        .dialog-template(ng-include="'dialog.html'")


        script(type="text/javascript", src="/scripts/angular.js")
        script(type="text/javascript", src="/scripts/angular-route.js")
        script(type="text/javascript", src="/scripts/app.js")
