div(ng-controller="plotDetailController")
    h2 {{garden.name}}
    ul.plants
        li.plant(ng-repeat="plant in garden.plants").
            {{(plant.planned.sow || plant.planned.set) | casualTime }}
            {{plant.plant.name}} ready to harvest
            {{plant.plant.lifecycle.daysToHarvest | daysAfterToday: (plant.planned.sow || plant.planned.set) | casualTime}}
