form.creation-form(ng-submit="addVegetable(vegetable)", name="newVegetable", novalidate)
    label Add Veg
        input(ng-model="vegetable.name")
.selection-list(ng-controller="vegetableListController")
    label Search
        input(ng-model="search", placeholder="Tomato")
    label Sort
        select(ng-model="sort")
            option(value="name") Alphabetical
            optgroup(label="Timeline")
                option(value="timeline.added") Added
    ul
        li(ng-repeat="veg in vegetables | filter:search | orderBy:sort",
            ng-click="selectVegetable(veg)",
            ng-class="{'is-selected': veg.isSelected && !veg.isPlaceholder}"
        )
            a(href="#/veg/{{veg.name.toLowerCase()}}") {{veg.name}}
