
/* line 1 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/border.styl */

/* line 2 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 92 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line undefined : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 574 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/node_modules/grunt-contrib-stylus/node_modules/nib/lib/nib/size.styl */

/* line 29 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
/* normalize.css v3.0.0 | MIT License | git.io/normalize */

/* line 9 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 18 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
body {
  margin: 0;
}

/* line 28 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 36 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 45 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 54 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
[hidden],
template {
  display: none;
}

/* line 65 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
a {
  background: transparent;
}

/* line 67 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
a:active,
a:hover {
  outline: 0;
}

/* line 77 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 84 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
b,
strong {
  font-weight: bold;
}

/* line 91 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
dfn {
  font-style: italic;
}

/* line 99 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 107 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
mark {
  background: #ff0;
  color: #000;
}

/* line 115 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
small {
  font-size: 80%;
}

/* line 122 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 128 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
sup {
  top: -0.5em;
}

/* line 131 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
sub {
  bottom: -0.25em;
}

/* line 141 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
img {
  border: 0;
}

/* line 148 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
svg:not(:root) {
  overflow: hidden;
}

/* line 158 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
figure {
  margin: 1em 40px;
}

/* line 165 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 174 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
pre {
  overflow: auto;
}

/* line 181 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 200 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 209 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
button {
  overflow: visible;
}

/* line 219 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
button,
select {
  text-transform: none;
}

/* line 230 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 238 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 245 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 254 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
input {
  line-height: normal;
}

/* line 265 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 275 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 284 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 296 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 303 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 313 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
legend {
  border: 0;
  padding: 0;
}

/* line 321 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
textarea {
  overflow: auto;
}

/* line 329 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
optgroup {
  font-weight: bold;
}

/* line 339 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 343 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/normalize.styl */
td,
th {
  padding: 0;
}

/* line 1 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/base/palette.styl */

/* line 5 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/layouts/primary.styl */

/* line 1 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/layouts/primary.styl */
body {
  background: #646478 -webkit-linear-gradient(top, #505060 80px, #646478) top left no-repeat;
  background: #646478 -moz-linear-gradient(top, #505060 80px, #646478) top left no-repeat;
  background: #646478 -o-linear-gradient(top, #505060 80px, #646478) top left no-repeat;
  background: #646478 -ms-linear-gradient(top, #505060 80px, #646478) top left no-repeat;
  background: #646478 linear-gradient(to bottom, #505060 80px, #646478) top left no-repeat;
  padding: 2em;
}

/* line 5 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/layouts/primary.styl */
header {
  border-bottom: 1px solid #b4f00a;
  margin: 0 0 2em 0;
  position: relative;
}

/* line 9 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/layouts/primary.styl */
header h1 {
  color: #b4f00a;
  font-family: serif;
  font-size: 4em;
  font-weight: bold;
  margin: 0;
  text-shadow: 1px 1px 2px #321e0a;
}

/* line 16 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/layouts/primary.styl */
header .version {
  bottom: 0;
  color: #fff;
  position: absolute;
  right: 0;
}

/* line 22 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/layouts/primary.styl */
label {
  display: block;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0.5em 0.5em 0.25em 0.5em;
  overflow: hidden;
  padding: 0.25em 0;
}

/* line 29 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/layouts/primary.styl */
label input,
label select {
  float: right;
  font-weight: normal;
}

/* line 32 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/modules/creation-form.styl */

/* line 1 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/modules/creation-form.styl */
.creation-form {
  background: #50c8d2 -webkit-linear-gradient(top, #b9e9ed, #50c8d2) top left no-repeat;
  background: #50c8d2 -moz-linear-gradient(top, #b9e9ed, #50c8d2) top left no-repeat;
  background: #50c8d2 -o-linear-gradient(top, #b9e9ed, #50c8d2) top left no-repeat;
  background: #50c8d2 -ms-linear-gradient(top, #b9e9ed, #50c8d2) top left no-repeat;
  background: #50c8d2 linear-gradient(to bottom, #b9e9ed, #50c8d2) top left no-repeat;
  -webkit-border-radius: 0.5em 0.5em 0 0;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.25em 0;
  margin: 1em 0 0 0;
  width: 20em;
}

/* line 7 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/modules/selection-list.styl */

/* line 1 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/modules/selection-list.styl */
.selection-list {
  background: #f5f5f5;
  color: #000;
  margin: 0 0 1em 0;
  width: 20em;
}

/* line 6 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/modules/selection-list.styl */
.selection-list ul {
  margin: 0;
  padding: 0;
}

/* line 9 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/modules/selection-list.styl */
.selection-list li {
  background: -webkit-linear-gradient(top, #fff, #f5f5f5);
  background: -moz-linear-gradient(top, #fff, #f5f5f5);
  background: -o-linear-gradient(top, #fff, #f5f5f5);
  background: -ms-linear-gradient(top, #fff, #f5f5f5);
  background: linear-gradient(to bottom, #fff, #f5f5f5);
  border-top: 1px solid #808080;
  color: #808080;
  list-style-type: none;
  margin: 0;
  padding: 0.25em 0.5em;
}

/* line 16 : /Users/jxh00/Documents/Other/Garden Plotter 2.0/stylus/modules/selection-list.styl */
.selection-list li.is-selected {
  background: -webkit-linear-gradient(top, #d3f969, #7ea807);
  background: -moz-linear-gradient(top, #d3f969, #7ea807);
  background: -o-linear-gradient(top, #d3f969, #7ea807);
  background: -ms-linear-gradient(top, #d3f969, #7ea807);
  background: linear-gradient(to bottom, #d3f969, #7ea807);
  -webkit-box-shadow: inset -5px -5px 8px #b4f00a;
  box-shadow: inset -5px -5px 8px #b4f00a;
  color: #000;
}
