.creation-form
    background: highlight-bg linear-gradient(top, lighten(highlight-bg, 60%), highlight-bg) top left no-repeat
    border-radius: 0.5em 0.5em 0 0
    padding: 0.25em 0
    margin: 1em 0 0 0
    width: 20em
